
.topnav {
  background-color: #f3f3f3;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}



.intro_banner{
    position: relative;
    /* height: 430px; */
    min-height: 410px;
    background-color: #e7e7e773;
}

.container-fluid{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    
}

section{padding: 40px 0;}
section h1{ 
  margin: 0;

}


/* .intro_banner::before {    
    content: "";
    background-color: #c2c1c140;
    background-image: url(../img/img1.jpg);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    background-size: cover;
    background-position: center;
} */

.holder{
  display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.intro_holder{
    color: #333;
  
    /* display: inline-block; */
    
    padding: 17px;
    width: 600px;
    display: flex;
    flex-direction: column;
}


.intro_holder p {
    margin:0px;
    white-space:nowrap;        
  }
 
  .img_holder{
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }

  .my_img{
    border-radius: 100%;
  }

  .techskills_box{
    background-color:#f9eaea;
  }


  .skills_cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: normal;
  }

  .skills_sec {
    flex: 0 1 49%;
    margin: 14px 0;
    padding: 40px 5%;
    box-shadow: 4px 4px 13px -1px rgb(0, 0, 0, 0.3);
    min-height: 230px;
    background-color: #fff;
  }


  .skills_wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  
  }


  .skills_sec ul{
    margin: 20px 0;
    list-style: none;
    padding: 0;
  }

  .skill_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;
  }


 

  .skillbox{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .img_svg{
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
  }

  .htmlsvg{
    background-image: url(../img/HTML5.svg);

  }

  .csssvg{ background-image: url(../img/CSS3.svg);}
  .jssvg{ background-image: url(../img/JavaScript.svg);}
  .jquerysvg{ background-image: url(../img/jQuery.svg);}
  .npmsvg{ background-image: url(../img/Node.js.svg);}
  .angsvg{ background-image: url(../img/Angular.svg);    background-size: cover;}
  .reactsvg{ background-image: url(../img/React.svg);}
  .restsvg{ background-image: url(../img/HTML5.svg);}
  .githubsvg{ background-image: url(../img/GitHub.svg);}
  .postmansvg{ background-image: url(../img/Postman.svg);}
  .firebasesvg{ background-image: url(../img/Firebase.svg);}
  .awssvg{ background-image: url(../img/AWS.svg);}
  .azuresvg{ background-image: url(../img/Azure.svg);}
  .m365svg{ background-image: url(../img/Microsoft_365.svg);}

  
  .projects_box{background-color:#f1fff1;  padding-left: 100px;
    padding-right: 100px;
}
  
.projects_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

}

.prj_box{
  flex: 0 0 30%;
}

.accomplishments_bx {
  
  padding-left: 100px;
  padding-right: 100px;
}
  
.accomplishments_bx .prj_box{
  flex: 0 0 37%;
  border: 1px solid #ccc;
  padding: 20px 20px 18px;
  box-shadow: 1px 5px 10px -3px rgb(10, 10, 10, 0.3);
  border-radius: 72px;
  text-align: center;
}

.accomplishments_bx .projects_info{justify-content: space-around;;}
.accomplishments_bx .prj_box h3{font-size: 20px;}